.navigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    width: 700px;
    padding: 15px;
  }
  
  .navigationBar li {
    padding: 0px 8px;
    list-style: none;
    width: fit-content;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #779FED;
  }
  .navigationBar li:hover {
    border-bottom: 2px solid #779FED;
    cursor: pointer;
  }
  
  .navigationBar .active, .navigationBar .active:hover{
    border-bottom: 2px solid #779FED;
  }