.imageParagraph {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    width: 70vw;
    align-items: center;
    background-color: #000000;
    color:white;
    border-radius: 15px;
}

.imageParagraph .imageHalf {
    min-width: 45%;
    display: inline-table;
    position: relative;
    float: right;
    height: 100%;
}
 
.imageHalf div, .imageHalf div div {
    display: inline-table;
    width: 515px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.imageParagraph .article {
    display: inline-table;
    max-width: 70%;
    letter-spacing: 0.2px;
}

.imageParagraph p {
    display: inline-table;
    text-align: left;
    white-space: pre-line;
    margin-bottom: 30px;
    margin-left: 50px;
}