.imageParagraph {
    display: inline-table;
    justify-content: space-between;
    margin: 60px 0px 60px 10px;
    width: 270px;
    align-items: center;
    background-color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px
}
 
.reverse {
    flex-flow: row-reverse;
}
 
.imageParagraph .imageHalf, .articleHalf {
    min-width: 45%;
    height: 100%;
}
 
.imageParagraph article {
    max-width: 70%;
    height: 195px;
    margin: 0 auto;
    color: white;
    letter-spacing: 0.2px;
    text-align: left;
}

.imageHalf div, .imageHalf div div {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}