.pageContent {
    text-align: center;
}

.blogBox{
    width: 1118px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 20px;
    background-color: black;
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.buttonBox{
    color: white;
    margin: 0 auto;
    padding: 10px 0px;
}

.buttonBlog{
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    font-family: 'Righteous';
    font-size: 1.5em;
    color: white;
    background-color: #779FED;
    border: none;
    border-radius: 10px;
}

.componentsBox{
    width: 1118px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 20px;
    background-color: black;
    border-radius: 10px;
    text-transform: uppercase;
}

.buttonBoxC{
    color: white;
    height: 20px;
    margin: 0 auto;
    padding: 10px 0px;
}

.buttonComponents{
    width: 190px;
    height: 40px;
    text-transform: uppercase;
    font-family: 'Righteous';
    font-size: 1.5em;
    color: white;
    background-color: #779FED;
    border: none;
    border-radius: 10px;
}