.footer {
    background-color: rgb(0, 0, 0);
    height: 100px;
    display: flex;
    color: #779FED;
    font-size: 14px;
    margin-top: 150px;
}

.footer .logo_authors {
    list-style: none;
    display: flex;
    flex-flow: column;
    text-align: center;
    border-right: 1px solid #779FED;
    padding-right: 30px;
}

.title {
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.active{
    border-bottom: 2px solid #779FED;
}

.socialMedia{
    display: flex;
    position: absolute;
    right: 50px;
    margin-top: 30px;
    width: 160px;
    justify-content: space-evenly;
}


.youtube {
    color: #eb3223;
}

.youtube:hover{
  font-size: 120%;
  color: #c91505;
}

  
.facebook {
    color: #0078da;
}

.facebook:hover{
  font-size: 120%;
  color: #006cc5;
}

  
.twitter {
    color: #58b4ff;
}

.twitter:hover{
  font-size: 120%;
  color: #2a9dfc;
}

  
.instagram {
    color: rgb(199, 0, 199);
}

.instagram:hover{
  font-size: 120%;
  color: rgb(170, 0, 170);
}
