.eachslide > div {
    margin: auto;
    margin-top: 90px;
    margin-bottom: 30px;
    height: 400px;
    width: 1118px;
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  
  .eachslide span {
    display: table;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 32px;
    background-image: #efefef;
    border: 4px solid white;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
    text-align: center;
    color: white;
  }

  .slideOne{
    background-image: url("../../images/setup1.jpg");
  }
  .slideTwo{
    background-image: url("../../images/setup2.jpg");
  }
  .slideThree{
    background-image: url("../../images/setup3.jpg");
  }